@model IEnumerable<WebAppForo.Models.Mensaje>

@{
    ViewData["Title"] = "Foro";
}

@* TITULO *@

<div class="text-center">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
    </div>
    <p></p>
    <h1 class="display-4">&#129497;&#127996;  ¡Bienvenido al Foro de <strong>Now Gaming</strong>!  &#128305;</h1>
</div>
<p></p>
<p></p>

@* AVISO *@

<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>CUIDADO!!</strong> Estás entrando a tierras desconocidas, no molestes a los trolls o ellos irán a por ti, trátalos <strong style="color: black">Siempre con Respeto</strong> y estarás a salvo.
</div>

@* IMAGEN *@

<div class="text-center">
    <img src="img/Foro.jpg" alt="astronauta">
</div>
<p></p>

<div class="text-center">
    <h1>________________________________________________________________</h1>
</div>


@* NOTICIAS *@

<p></p>
<div class="text-center">
    <h3 class="display-6">Noticias Gaming</h3>
</div>
<p></p>

<div class="text-center">
    <table>
        <tr>
            <th></th>
            <th>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#primero" aria-selected="true" role="tab">Gráficos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#segundo" aria-selected="false" role="tab" tabindex="-1">Historia</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#tercero" aria-selected="false" role="tab" tabindex="-1">Curiosidades</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#cuarto" aria-selected="false" role="tab" tabindex="-1">EaSports</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#quinto" aria-selected="false" role="tab" tabindex="-1">VR</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#sexto" aria-selected="false" role="tab" tabindex="-1">Crowdfunding</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#septimo" aria-selected="false" role="tab" tabindex="-1">Gamificación</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#octavo" aria-selected="false" role="tab" tabindex="-1">Speedrunning</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#noveno" aria-selected="false" role="tab" tabindex="-1">Narrativas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#decimo" aria-selected="false" role="tab" tabindex="-1">CloudGaming</a>
                    </li>
                </ul>
                <p></p>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="primero" role="tabpanel">
                        <p>Evolución de los gráficos: Los gráficos en los videojuegos han evolucionado enormemente. Desde los simples píxeles de juegos como "Pac-Man" hasta los gráficos hiperrealistas del nuevo juego del que todos hablan "Red Dead Redemption 2".</p>
                    </div>
                    <div class="tab-pane fade" id="segundo" role="tabpanel">
                        <p>El primer videojuego: El primer videojuego reconocido se llama "Tennis for Two" y fue creado por William Higinbotham en 1958. Sin embargo, el juego que realmente popularizó los videojuegos fue "Pong" de Atari en 1972.</p>
                    </div>
                    <div class="tab-pane fade" id="tercero" role="tabpanel">
                        <p>Industria del juego: La industria del videojuego es más grande que la del cine y la música combinadas. Genera ingresos anuales que superan los miles de millones de dólares.</p>
                    </div>
                    <div class="tab-pane fade" id="cuarto" role="tabpanel">
                        <p>Competiciones de esports: Los deportes electrónicos (esports) han crecido enormemente, con torneos que ofrecen premios en efectivo de millones de dólares. Juegos como "League of Legends" y "Dota 2" son conocidos por sus competiciones a nivel mundial.</p>
                    </div>
                    <div class="tab-pane fade" id="quinto" role="tabpanel">
                        <p>Realidad virtual: La realidad virtual (VR) ha ganado popularidad en los últimos años. Juegos como "Beat Saber" han llevado la experiencia de juego a un nivel completamente nuevo al integrar la realidad virtual de manera inmersiva.</p>
                    </div>
                    <div class="tab-pane fade" id="sexto" role="tabpanel">
                        <p>Algunos de los juegos más exitosos de los últimos años, como "Star Citizen" y "Shenmue III", se financiaron a través de plataformas de crowdfunding, donde los fans contribuyeron económicamente para respaldar el desarrollo.</p>
                    </div>
                    <div class="tab-pane fade" id="septimo" role="tabpanel">
                        <p>El concepto de gamificación ha trascendido los videojuegos y se ha aplicado a otras áreas, como la educación y el trabajo, para motivar a las personas mediante elementos y mecánicas de juego.</p>
                    </div>
                    <div class="tab-pane fade" id="octavo" role="tabpanel">
                        <p>La comunidad de speedrunning es muy activa, con jugadores que compiten para completar juegos en el menor tiempo posible. Algunos eventos benéficos, como "Games Done Quick", recaudan fondos para organizaciones caritativas a través de maratones de speedrunning.</p>
                    </div>
                    <div class="tab-pane fade" id="noveno" role="tabpanel">
                        <p>Títulos como "Life is Strange" y "The Walking Dead" han demostrado que los videojuegos pueden contar historias profundas y emocionales, involucrando a los jugadores en decisiones que afectan el desarrollo de la trama.</p>
                    </div>
                    <div class="tab-pane fade" id="decimo" role="tabpanel">
                        <p>La tecnología de juego en la nube ha ido ganando terreno, permitiendo a los jugadores acceder a juegos de alta calidad sin necesidad de poseer hardware de juego potente.</p>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
    </table>

</div>


@* CHAT DE LA COMUNIDAD *@
<div class="text-center">
    <h1>________________________________________________________________</h1>
</div>
<p></p>
<div class="text-center">
    <h3 class="display-6">Chat de la Comunidad</h3>
</div>
<p></p>


<table class="table">
    <thead>
        <tr>
            <th>
                <h5>@Html.DisplayNameFor(model => model.User)</h5>
            </th>
            <th>
                <h5>@Html.DisplayNameFor(model => model.Texto)</h5>
            </th>
            <th>
                <h5>@Html.DisplayNameFor(model => model.Imagen)</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.User.UserName)</h5>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    <img src="img/@Html.DisplayFor(modelItem => item.Imagen)" alt="astronauta">

                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.MsgId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MsgId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MsgId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <p>
        <a asp-action="Create">Escribe un Mensaje</a>
    </p>
</div>
